@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}
/*侧边栏*/
html,body{
    height: 100%;
}
a{
    text-decoration: none;

}
a:link,a:visited,a:hover,a:active{
    text-decoration: none;
    /*去掉所有的下划线*/
}

.table.table-bordered td {
    text-align: center;
    vertical-align: middle;
}

.body_bg{
    background-color: rgb(34, 45, 50);
}
.mt_150{
    margin-top: 150px;

}
.lt_aside{
    width: 180px;
    height: 100%;
    background-color: #222d32;
    position: fixed;
    top: 0;
    left:0;
    z-index: 999;
}
.lt_aside .brand{

    width: 180px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
}
.lt_aside .brand a{
    display: block;
    background-color:#367fa9;
    color:white;
}
.lt_aside .user img{
    display: block;
    margin: 30px auto 0;
    border-radius: 50%;

}
.lt_aside .user  p{
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 50px;
}
.nav li{
    color:white;
    /*text-align: center;*/

}
.nav li a{
    padding: 10px 0 10px 0;
    color:white;
    display: block;
    padding-left: 40px;
    border-left: 3px solid transparent;
    /*下面的now给一个3px的做边框，内容会过来一点不能对齐全，给所有的a标签一个透明的左边框就行*/
}

.nav li a.now{
    background-color: #1d1f21;
    border-left: 3px solid #069;
}
.nav li  .second a{
    padding-top: 8px;
    display: block;
  /*div自己会掉下去，不要设置高 给li设置padding*/

    padding-left: 60px;
}
/*右边*/
.lt_main{
    width: 100%;
    height: 100%;
    background-color: pink;
    padding-left: 180px;
    padding-top: 70px;
}
.lt_header{
    height: 50px;
    background-color: #3c8dbc;
    line-height: 50px;
    padding-left:200px;
    padding-right: 20px;
    position: fixed;
    width: 100%;
    /*w100%,右边的就出去了  设置padding值   ；固定定位问题，下面的对象就上去了*/
    top:0;
    left:0;
transition:all 1s;
/*//设置过渡*/
}
.lt_main .lt_header.now{
    padding-left: 20px;
    /*点击左上键的隐藏侧边栏时候，小图标还在原地，设置改变padding值  写*/
}

.lt_header a{
    color:white;
    font-size: 16px;
}
.table td,
.table th{
    text-align: center;
}
.mb_20{
    margin-top: 20px;
}
.file_box{
    width: 82px;
    height: 34px;
    position: relative;
}
.file_box:hover [type='button']{
    background-color: #e6e6e6;
}

/*让file设置成透明度为0*/
.file_box  [type='file']{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    opacity:0;
}